
<h1>Users#new</h1>
<%= form_for(@user) do |f| %>

<div class="form-group">
	<%= f.label(:username) %>
	<%= f.text_field(:username) %>
</div>

<div class="form-group">
	<%= f.label(:email) %>
	<%= f.text_field(:email) %>
</div>

<div class="form-group">
	Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
</div>
 

<%= submit_tag("Submit", :class => "btn btn-primary", :id => "submit-button") %>

<% end %>