<div class="panel-body">
	<div class="field">
        <%= f.label(:auto_id, "ID") %>
        <%= f.text_field(:auto_id) %>
	</div>
      
      <div class="field">
        <%= f.label(:refid, "ArchivesSpace RefID") %>
        <%= f.text_field(:refid) %>
      </div>
      <div class="field">
        <%= f.label(:display_title, "Component") %>
        <%= f.text_field(:display_title) %>
		</div>
		<div class="field">
        <%= f.label(:resource) %>
        <%= f.text_field(:resource) %>
      </div>
      <div class="field">
        <%= f.label(:format) %>
        <%= f.select(:format, ["CD", "CD-R", "CD-ROM", "CD-RW", "DVD", "DVD+R", "DVD+R DL", "DVD+RW", "DVD-R", "DVD-RW", "Flash Memory: USB", "Floppy disk: 3 1/2 inch", "Floppy disk: 5 1/4 inch", "Hard Drive", "Hard Drive: eSATA", "Hard Drive: Firewire", "Hard Drive: PATA", "Hard Drive: SCSI", "Hard Drive: USB", "Memory Card", "Minidisc", "Zip disk"] ) %>
      </div>
      <div class="field">
        <%= f.label(:status, "Transfer Status") %>
        <%= f.select(:status, ["Not Transferred", "Transferred - Success", "Transferred - Failed"] ) %>
		</div>
		<div class="field">
        <%= f.label(:method, "Transfer Method") %>
        <%= f.select(:method, [nil, "Disk Image", "Rip Tracks", "Copy Files"]) %>
      </div>
      <div class="field">
        <%= f.label(:transfer_date, "Date Transferred") %>
        <%= f.date_field(:transfer_date) %>
		</div>
      <div class="field">
        <%= f.label(:disposition, "Item Disposition") %>
        <%= f.select(:disposition, ["Retain", "Destroy"]) %>
      </div>
     <div class="field"> 
        <%= f.label(:notes) %>
        <%= f.text_area(:notes, :size => "40x5") %>
      </div>
      
</div>