<% @page_title = " | Home" %>
<div class="dm_items index">
  <div class="row">
    <div class="col-xs-12">
      <h1>Digital Media Items</h1>
      <%= form_tag dm_items_path, :class => "form-inline", :method => "get" do %>
    	  <div class="form-group">
    		  <%= text_field_tag :search, params[:search], :class => "form-control" %>
    		  <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
			  <%= link_to("Clear", dm_items_path, :class => 'btn btn-default') %>
    	  </div>
  	  <% end %>

  <table class="table table-hover" summary="Digital media item list">
    <tr class="header">
      <th><%= sort_link "auto_id", "ID" %></th>
      <th><%= sort_link "format", "Format" %></th>
      <th><%= sort_link "status", "Transfer Status" %></th>
      <!-- <th>Transfer Method</th> -->
<!--      <th>Transfer Date</th> -->
<!--       <th>Disposition</th> -->
      <th><%= sort_link "display_title", "Component" %></th>
      <th><%= sort_link "resource", "Resource" %></th>
	  <!-- ><th>Created</th> -->
	  <th>Updated</th>
      <th>Actions</th>
    </tr>
	<%= will_paginate @dm_items %>
    <% @dm_items.each do |dm_item| %>
    	<tr class="<%= cycle('odd', 'even') %>">
        <td><%= dm_item.auto_id %></td>
        <td><%= dm_item.format %></td>
  	  <td><%= dm_item.status %></td>
  	  <!-- <td><%= dm_item.method %></td> -->
  	  <!-- <td><%= dm_item.transfer_date %></td> -->
  	  <!-- <td><%= dm_item.disposition %></td> -->
  	  <td><%= dm_item.display_title %></td>
  	  <td><%= dm_item.resource %></td>
  	  <!-- <td><%= dm_item.created_at.strftime("%x %X") %></td> -->
  	  <td><%= dm_item.updated_at.strftime("%b %e, %Y %l:%M %p") %></td>
        <td class="actions">
          <%= link_to("Edit", {:action => 'edit', :id => dm_item.id}, :class => 'btn btn-xs btn-default') %>
		  <%= link_to("View", {:action => 'show', :id => dm_item.id}, :class => 'btn btn-xs btn-default') %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to("Add Digital Media Item", {:action => 'new'}, :class => 'btn btn-primary') %>

    </div>
  </div>

</div>
