<% @page_title = " | Index" %>
<br/>
<br/>
<div class="dm_items index">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Digital Media Items</h2>
  </div>

  <div class="panel-body">
  <table class="table table-striped" summary="Digital media item list">
    <tr class="header">
      <th>ID</th>
      <th>Format</th>
      <th>Transfer Status</th>
      <th>Transfer Method</th>
      <th>Transfer Date</th>
      <th>Disposition</th>
      <th>Parent Component</th>
      <th>Parent Resource</th>
      <th>Actions</th>
    </tr>
    <% @dm_items.each do |dm_item| %>
	<tr class="<%= cycle('odd', 'even') %>"> 
    <tr>
      <td><%= dm_item.auto_id %></td>
      <td><%= dm_item.format %></td>
	  <td><%= dm_item.status %></td>
	  <td><%= dm_item.method %></td>
	  <td><%= dm_item.transfer_date %></td>
	  <td><%= dm_item.disposition %></td>
	  <td><%= dm_item.display_title %></td>
	  <td><%= dm_item.resource %></td>
      <td class="actions">
        <%= link_to("Edit", {:action => 'edit', :id => dm_item.id}, :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to("Add Digital Media Item", {:action => 'new'}, :class => 'action new') %>
  </div>
</div>