<div class="dm_items show col-xs-6 col-xs-offset-3">
  <h1>Digital Media Item</h1>
<!--
  :auto_id
  :format
  :status
  :method
  :transfer_date
  :disposition
  :notes
  :refid
  :display_title
  :resource
-->
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <td><%= @dm_item.auto_id %></td>
    </tr>
    <tr>
      <th>ArchivesSpace RefID</th>
      <td><%= @dm_item.refid %></td>
    </tr>
    <tr>
      <th>Parent Component</th>
      <td><%= @dm_item.display_title %></td>
    </tr>
    <tr>
      <th>Parent Resource</th>
      <td><%= @dm_item.resource %></td>
    </tr>
    <tr>
      <th>Transfer Status</th>
      <td><%= @dm_item.status %></td>
    </tr>
    <tr>
      <th>Transfer Method</th>
      <td><%= @dm_item.method %></td>
    </tr>
    <tr>
      <th>Transfer Date</th>
      <td><%= @dm_item.transfer_date %></td>
    </tr>
    <tr>
<!--       <th>Disposition</th>
      <td><%= @dm_item.disposition %></td>
    </tr>
    <tr>
     <th>Notes</th>
      <td><%= @dm_item.notes %></td>
    </tr>
-->
    <tr>
      <th>Created</th>
      <td><%= @dm_item.created_at.strftime("%x %X") %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @dm_item.updated_at.strftime("%x %X") %></td>
    </tr>
  </table>

  <%= link_to("Edit", {:action => 'edit'}, :class => 'btn btn-warning') %>

  <%= link_to("New", {:action => 'new'}, :class => 'btn btn-success') %>

  <%= link_to("Index", dm_items_path, :class => 'btn btn-primary') %>

</div>
