<!DOCTYPE html>
<html>
  <head>
    <title>Digital Media Log <%= @page_title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag("application", :media => "all") %>
  </head>

  <body>
	  <header>
	        <%= render 'layouts/navigation' %>
	  </header>

	  <main role="main">
	  <div class="container-fluid">

      <% if !flash[:notice].blank? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

    <%= yield %>

	  </div>
	  </main>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
