<!DOCTYPE html>
<html>
  <head>
    <title>Digital Media Log <%= @page_title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>	
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag("application", :media => "all") %>
  </head>

  <body>
	  <header>
	        <h1>Digital Media Log</h1>
	  </header>
	  <% if current_user %> 
	    <ul> 
	      <li><%= current_user.email %></li> 
	      <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
	    </ul> 
	  <% else %> 
	    <ul> 
	      <li><%= link_to "Login", 'login' %></a></li> 
	      <li><%= link_to "Signup", 'signup' %></a></li> 
	    </ul> 
	  <% end %>
	  
    <%= yield %>
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
